.teachers-page {
  padding: 20px;
}

.teachers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teacher-card:hover {
  transform: translateY(-8px);
}

.teacher-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #3b82f6;
}
.teachers-bg {
  min-height: 100vh;
  padding-top: 60px;

  background-image: linear-gradient(
      rgba(15, 23, 42, 0.75),
      rgba(15, 23, 42, 0.75)
    ),
    url("/src/assets/bg/teachers-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
